doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title QT show
    meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="format-detection" content="telephone=no")
    link(rel="stylesheet", href="styles/css/vendor.css")
    link(rel="stylesheet", href="styles/css/main.css")
  body

    .cursor
    header.main-header
      .grid.grid--container
          .row
            .col.col--sm-2
              a(href="").logo
                img(src="./img/logo.svg", alt="")
            .col.col--sm-8
              .nav
                .nav__link
                  a(href="") Работы
                .nav__link
                  a(href="") Обо мне
                .nav__link
                  a(href="") Контакты
            .col.col--sm-2
              .phone
                a(href="tel:88000000000") 8 800 000 00 00
    
    .index-wrapper
      block content


    //- footer.main-footer
    //-   .grid.grid--container
    //-     p this is footer
    
    script(src="./js/TweenMax.min.js")
    script(src="./js/jquery-2.2.1.min.js")
    //- script(src="./js/tilt.jquery.min.js")
    script(src="./js/ScrollMagic.min.js")
    script(src="./js/animation.gsap.min.js")
    script(src="./js/SmoothScroll.js")
    script(src="./js/jquery.blast.min.js")
    script(src="./js/tilt.jquery.min.js")
    script(src="./js/jquery.blast.min.js")
    script(src="./js/animations.js")
    script(src="./js/main.js")