.mini-offset
  margin-bottom 2rem !important

.small-offset
  margin-bottom 4rem !important

.medium-offset
  margin-bottom 6rem !important

.big-offset
  margin-bottom 9rem !important

.without-margin
  margin 0

.offset-left
  margin-left 3.1rem

.text-left
  text-align left

.text-center
  text-align center

.text-right
  text-align right

.text-gray
  color $dark-gray !important

@media(max-width 768px)
  .offset-left
    margin-left 0
