$main = #010103
$primary = #006DD5
$secondary = #1A1A1C
$third = #343435
$gray = #8D98A3

$error = $primary

// socials
$vk = #507299
$ok = #f58220
$facebook = #3b5998
$twitter = #00aced
$insta = #517fa4
$youtube = #bb0000
$vimeo = #45bbff
$myworld = #0451a0

$border = 1px solid #d9e5ea
$shadow = 0 16px 24px 0 rgba(135, 149, 163, .45)
$radius = 4px

$main-padding = 8rem 0
$main-offset = 15rem

// $container-width = 1171px
// $container-width = 1220px
$container-width = 1314px

$font = 'Gerbera', 'Arial', 'Helvetica', sans-serif
$font-header = 'GoshaSans', 'Arial', 'Helvetica', sans-serif