body
  cursor none !important
*
  cursor none !important
*:hover
  cursor none !important

.cursor
  background-color #fff
  // background-color $primary
  border-radius 50%
  circle(.8rem)
  left -4rem
  // mix-blend-mode difference
  pointer-events none
  position fixed
  top -4rem
  will-change left, top
  z-index 99999
  &:before
    circle(6.4rem)
    content ''
    top -2.8rem
    left -2.8rem
    opacity .4
    border-radius 50%
    position absolute
    background-color $primary
    transition all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    transform scale(0)
    z-index -1


.cursor__active:before
    transform scale(1)