@import '../helpers/variables.styl'

*
  box-sizing border-box
  text-decoration none
  &:focus
    outline 0

*:hover
  text-decoration none

*:focus
  outline 0

a
  color inherit
  text-decoration none

// .link
//   color $link
//   cursor pointer
//   border-bottom 1px solid rgba($link, .2)
//   text-decoration none
//   transition all .4s
//   &:hover
//     color $link - 10%
//     border-color rgba($link, .5)

html
  font-size 62.5%
  margin 0
  max-width 100%
  padding 0
  width 100%

body
  color $main
  background #fff
  font-family $font
  font-weight 400
  font-size 1.6em
  line-height 1
  margin 0
  max-width 100%
  padding 0
  text-size-adjust 100%
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  width 100%
  *
    box-sizing border-box
    

.svg
  opacity 0

.replaced-svg
  opacity 1


    