.modal
  animation bigFadeUp .3s forwards ease
  background #fff
  box-shadow 0 1rem 2rem rgba($main, .1)
  border-radius $radius
  display none
  margin 10rem auto
  position relative
  width 120rem
  &__align
    display flex
  &__left
    align-items center
    display flex
    justify-content center
    height 100%
    padding 9rem
    width 45rem
  &__circle
    align-items center
    background-color $primary
    border-radius 50%
    circle(26rem)
    color #fff
    display flex
    flex-direction column
    justify-content center
    padding 2rem
    text-align center
  &__offer
    font-size 2.2rem
    font-weight 600
  &__sub-offer
    font-size 1.8rem
    font-weight 500
    line-height 1.3
  &__container
    padding 7rem
  &__title
    font-size 2.4rem
    font-weight 500
    line-height 1.2
    margin-bottom 4rem
    span
      font-weight 300
  &__subtitle
    font-size 2rem
    margin-bottom 6rem
  &__plate
    background-color $light-gray
    margin-left -4rem
    margin-right -4rem
    margin-bottom 3.2rem
    margin-top -1.6rem
    padding 1.6rem 4rem
  &--without-border
    background-color transparent
    box-shadow none
    padding 0
    max-width 70%
    height 40rem
    iframe
      height 100%
      width 100%
    // .mfp-close,
    // .mfp-close:active
    //   color #fff !important
    //   font-size 3.2rem
    //   opacity 1
    //   right -5rem !important
    //   top -1.3rem !important

.mfp-ready
  .modal
    display block

.mfp-close-btn-in .mfp-close,
.mfp-close-btn-in .mfp-close:active
  background-color $primary
  border-radius 50%
  circle(4rem)
  color #fff
  font-size 4rem
  left 0
  line-height 1
  margin auto
  opacity 1
  padding 0
  text-align center
  top -12rem
  right 0
  &:after
    bottom -3.5rem
    content 'Закрыть'
    font-size 1.8rem
    left -1.2rem
    position absolute

.mfp-close
  circle(6rem)

.open-image
  display flex

.mfp-gallery .mfp-close,
.mfp-gallery .mfp-close:active
  color #fff
  top -6rem


@media(max-width 1200px)
  .modal
    width 96%
    &__left
      background-color $primary
      background-image none !important
      border-radius $radius 0 0 $radius
      width 35%
    &__circle
      background-color transparent
      flex-shrink 0
      padding 2rem
    &__container
      padding 7% 5%
    &__title
      font-size 2rem
      margin-bottom 3rem

@media(max-width 767px)
  .mfp-container
    padding 0
  .modal
    &__plate
      margin-left -4.3%
      margin-right -4.3%
      padding 1.6rem 4%
    .mfp-close,
    .mfp-close:active
      font-size 4rem
      opacity 1
      top -8rem
      right .4rem
      &:after
        bottom -2rem
        font-size 1.4rem
        left -.5rem
    .mini-offset
      margin-bottom 0


@media(max-width 700px)
  .modal
    &__left
      display none
    &__container
      padding 6% 4%
    &__subtitle
      margin-bottom 3rem
    .checkbox
      display flex