@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic')

@import 'helpers/variables.styl'
@import 'helpers/mixins.styl'
@import 'helpers/helpers.styl'

@import 'base/base.styl'
@import 'base/ui.styl'
@import 'base/typography.styl'
@import 'base/animations.styl'
@import 'base/modal.styl'

@import 'modifications/modifications.styl'

@import 'components/header.styl'
@import 'components/hero.styl'
@import 'components/cursor.styl'
@import 'components/text-blast.styl'

@import 'pages/index.styl'

// .grid--container
//   max-width 1540px

.grid--container
  // max-width $container-width
  max-width 190rem
  // max-width initial
  padding 0 (56 / 1900 * 100)%
  


@import 'base/media.styl'


